@media (min-width: 1300px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1300px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
    // border: 1px solid red;
  }
  .homeBanner {
    .container {
      max-width: 1280px;
    }
  }
  body .owl-theme .owl-next {
    #{$end-direction}: -25px;
  }
  body .owl-theme .owl-prev {
    #{$start-direction}: -25px;
  }
}

@media screen and (min-width: 992px) {
  // body {
  //   .navbarCustom {
  //     .dropdown-menu {
  //       top: 143px;
  //     }
  //   }
  //   .fixedTop {
  //     .navbarCustom {
  //       .dropdown-menu {
  //         top: 90px;
  //       }
  //     }
  //   }
  // }

  .customMenu .navbar {
    .dropdown-menu {
      width: 100%;
      // #{$end-direction}: 0;
      // #{$start-direction}: 0;
      // /*  height of nav-item  */
      // top: 45px;

      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.3s linear;
    }
    padding-top: 0px;
    padding-bottom: 0px;
    position: unset;
    .nav-item {
      padding: 5px;
      margin: 0 2.5px;
    }
    .dropdown {
      // position: static;
      &:hover {
        .dropdown-menu {
          display: block;
          visibility: visible;
          opacity: 1;
          transition: visibility 0.5s, opacity 0.3s linear;
        }
      }
      .dropdown-toggle{

        &::after{
          display: none;
        }
      }
      .dropdown-menu {
        &:hover {
          display: block;
          visibility: visible;
          opacity: 1;
          transition: visibility 0s, opacity 0.3s linear;
        }
        .dropdown-item{
          color: #fff;
          font-size: 16px;
          padding: 8px 25px;
          position: relative;
          transition: 300ms;
          &::before{
            content: "";
            opacity: 0;
            position: absolute;
            #{$start-direction}: 25px;
            top: 11px;
            transition: 300ms;
            background-image: url(../images/home/arr-left-drp.svg);
          }
          &:hover{
            padding-#{$start-direction}: 35px;
            background-color: #C8A440 !important;
            &::before{
              background-repeat: no-repeat;
              width: 6px;
              height: 12px;
              #{$start-direction}: 16px;
              opacity: 1;
            }
          }
        }
      }
    }
    // .dropdown-menu {
    //   border: 1px solid rgba(0, 0, 0, 0.15);
    //   background-color: #fff;
    // }
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  body .owl-theme .owl-next {
    #{$end-direction}: -15px;
  }
  body .owl-theme .owl-prev {
    #{$start-direction}: -15px;
  }
  .lastNews .owl-carousel .owl-stage-outer .item .row .col-md-6:first-of-type {
    padding-#{$end-direction}: 70px;
  }
  .customMenu .SearchMenu {
    margin-#{$start-direction}: 5px;
  }
  .customMenu .navbar-light .navbar-nav .nav-link {
    padding-#{$end-direction}: 15px;
    padding-#{$start-direction}: 13px;
    font-size: 16px;
  }
  .owl-carousel-banner .bannerBox p {
    font-size: 17px;
    line-height: 35px;
  }
  .title {
    font-size: 30px;
  }
  .pra30 {
    font-size: 28px;
  }
  .mainBtn {
    padding: 14px 30px;
    min-width: 130px;
    font-size: 18px;
  }
  .Events .eventBox .textEv .eventP {
    font-size: 20px;
    line-height: 30px;
  }
  footer .linksFotter li a {
    color: #5e6265;
    font-size: 16px;
  }
  footer .boxAction {
    display: block;
  }
  footer .boxAction .secBtn {
    width: 100%;
  }
  footer .col-md-4:not(:first-of-type) {
    padding-#{$start-direction}: 45px;
  }
  // about
  .breadcrumbBG .forFlexBrdCrb {
    padding-#{$start-direction}: 200px;
  }
  // news and inner
  .NewsBg {
    .col-md-4 {
      width: 50%;
    }
    .justify-content-end {
      justify-content: space-between !important;
      .col-4 {
        width: 50%;
      }
    }
  }
}
