@media (min-width: 1300px) {
  .container {
    max-width: 1440px;
  }
}
@media (min-width: 1300px) and (max-width: 1440px) {
  .container {
    max-width: 1200px;
    // border: 1px solid red;
  }
  .homeBanner {
    .container {
      max-width: 1280px;
    }
  }
  body .owl-theme .owl-next {
    #{$end-direction}: -25px;
  }
  body .owl-theme .owl-prev {
    #{$start-direction}: -25px;
  }
}

@media screen and (min-width: 992px) {
  // body {
  //   .navbarCustom {
  //     .dropdown-menu {
  //       top: 143px;
  //     }
  //   }
  //   .fixedTop {
  //     .navbarCustom {
  //       .dropdown-menu {
  //         top: 90px;
  //       }
  //     }
  //   }
  // }

  .customMenu .navbar {
    .dropdown-menu {
      width: 100%;
      // #{$end-direction}: 0;
      // #{$start-direction}: 0;
      // /*  height of nav-item  */
      // top: 45px;

      display: block;
      visibility: hidden;
      opacity: 0;
      transition: visibility 0.5s, opacity 0.3s linear;
    }
    padding-top: 0px;
    padding-bottom: 0px;
    position: unset;
    .nav-item {
      padding: 5px;
      margin: 0 2.5px;
    }
    .dropdown {
      // position: static;
      &:hover {
        .dropdown-menu {
          display: block;
          visibility: visible;
          opacity: 1;
          transition: visibility 0.5s, opacity 0.3s linear;
        }
      }
      .dropdown-toggle{

        &::after{
          display: none;
        }
      }
      .dropdown-menu {
        &:hover {
          display: block;
          visibility: visible;
          opacity: 1;
          transition: visibility 0s, opacity 0.3s linear;
        }
        .dropdown-item{
          color: #fff;
          font-size: 16px;
          padding: 8px 25px;
          position: relative;
          transition: 300ms;
          &::before{
            content: "";
            opacity: 0;
            position: absolute;
            #{$start-direction}: 25px;
            top: 11px;
            transition: 300ms;
            background-image: url(../images/home/arr-left-drp.svg);
          }
          &:hover{
            padding-#{$start-direction}: 35px;
            background-color: #C8A440 !important;
            &::before{
              background-repeat: no-repeat;
              width: 6px;
              height: 12px;
              #{$start-direction}: 16px;
              opacity: 1;
            }
          }
        }
      }
    }
    // .dropdown-menu {
    //   border: 1px solid rgba(0, 0, 0, 0.15);
    //   background-color: #fff;
    // }
  }
}

@media (min-width: 992px) and (max-width: 1300px) {
  body .owl-theme .owl-next {
    #{$end-direction}: -15px;
  }
  body .owl-theme .owl-prev {
    #{$start-direction}: -15px;
  }
  .lastNews .owl-carousel .owl-stage-outer .item .row .col-md-6:first-of-type {
    padding-#{$end-direction}: 70px;
  }
  .customMenu .SearchMenu {
    margin-#{$start-direction}: 5px;
  }
  .customMenu .navbar-light .navbar-nav .nav-link {
    padding-#{$end-direction}: 15px;
    padding-#{$start-direction}: 13px;
    font-size: 16px;
  }
  .owl-carousel-banner .bannerBox p {
    font-size: 17px;
    line-height: 35px;
  }
  .title {
    font-size: 30px;
  }
  .pra30 {
    font-size: 28px;
  }
  .mainBtn {
    padding: 14px 30px;
    min-width: 130px;
    font-size: 18px;
  }
  .Events .eventBox .textEv .eventP {
    font-size: 20px;
    line-height: 30px;
  }
  footer .linksFotter li a {
    color: #5e6265;
    font-size: 16px;
  }
  footer .boxAction {
    display: block;
  }
  footer .boxAction .secBtn {
    width: 100%;
  }
  footer .col-md-4:not(:first-of-type) {
    padding-#{$start-direction}: 45px;
  }
  // about
  .breadcrumbBG .forFlexBrdCrb {
    padding-#{$start-direction}: 200px;
  }
}
@media (min-width: 767.68px) and (max-width: 1300px) {
  // news and inner
  .NewsBg {
    .col-md-4 {
      width: 50%;
    }
    .justify-content-end {
      justify-content: space-between !important;
      .col-4 {
        width: 50%;
      }
    }
    footer{
      .col-md-4 {
        width: 33.33333%;
      }
    }
  }
  .workSc{
    .col-md-4 {
      width: 50%;
    }
  }
}






@media (max-width: 1650.98px) {
  body .owl-theme .owl-prev {
    right: 0px;
  }
  body .owl-theme .owl-next {
    left: 0px;
  }
}


@media (max-width: 1440px) {
  .customMenu .navbar-light .navbar-nav .nav-link {
    padding-#{$start-direction}: 20px;
    padding-#{$end-direction}: 20px;
    font-size: 1rem;
  }
  footer{
    .headFooter {
      font-size: 1.25rem;
    }
    .linksFotter{
      li{
        a{
          font-size: 1rem;
        }
      }
    }
    .boxAction{
      input{
        min-width: 200px;
      }
      .secBtn {
        padding: 15px 20px;
        font-size: 1rem;
      }
    }
  }
  .title {
    font-size: 1.875rem;
  }
  .pra30 {
    font-size: 1.5625rem;
  }
  .mainBtn{
    font-size: 1rem;
  }
  .centerInNum .CIN p {
    font-size: 1.25rem;
  }
  .centerInNum .CIN .counter {
    font-size: 2rem;
  }
  .Events .eventBox .imgEv {
    width: 40%;
  }
  .Events .eventBox .textEv {
    width: 60%;
    .eventP{
      font-size: 1.25rem;
      height: 128px;
      overflow: hidden;
      margin-bottom: 0;
    }
  }
}
@media (max-width: 1199.98px) {
  .customMenu .navbar-light .navbar-nav .nav-link {
    padding-#{$start-direction}: 5px;
    padding-#{$end-direction}: 5px;
    font-size: .875rem;
  }
  footer {
    .boxAction {
      flex-wrap: wrap;  
      input {
        min-width: 100%;
      }
      .secBtn {
        width: 100%;
      }
    }
    .linksFotter li {
      margin-bottom: 15px;
    }
  }
  .owl-carousel-banner {
    margin-top: 150px;
  }
  .patternImg{
    img {
      height: 410px;
    }
    &::after{
      width: 100px;
      height: 100px;
      top: -35px;
      background-size: contain;
    }
  }
  .lastNews .patternImg::after {
    #{$end-direction}: -50px;
  }
  .title {
    font-size: 1.5rem;
  }
  .pra30 {
    font-size: 1.25rem;
  }

  .aboutBg .aboutTxt{
    padding-#{$end-direction}: 60px;
  }
  .title28 {
    font-size: 1.5625rem
  }
  .title24 {
    font-size: 1.25rem;
  }
  .newsInner {
    .txtInner {
      .title {
        font-size: 1.5625rem;
      }
        .subTitle {
        font-size: 1.375rem;
      }
      .pInner {
        font-size: 1rem;
        line-height: 30px;
      }
    }
  }
  .NewsBg .boxNews .NewTxt p {
    font-size: 1.25rem;
  }
  .ReportBox {
    height: 400px;
    .imgNS{
      height: 220px;
    }
    &:hover{
      .imgNS{
        height: 190px;
      }
    }
    .NewTxt {
      .reportScpase{
        a.readMore {
          font-size: .75rem ;
        }
        .mainBtn{
          align-items: center;
          min-width: 100px;
          span{
            font-size: .75rem ;
          }
          img{
            margin-#{$end-direction}: 5px;
          }
        }
      }
    }
  }
  .paginationDetails strong, .paginationDetails span{
    font-size: .75rem;
  }
  .headBox.flexSpaceBetween{
    flex-wrap: wrap; 
    div#nav-tab {
      flex: 0 0 100%;
      justify-content: center;
      margin: 0 auto;
      margin-bottom: 15px;
      // max-width: 320px;
    }
    .sortActions {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      .SelectInput {
        // flex:  0 0 100%;
        // width: 100%;
        margin-top: 10px;
      }
    }
  }
  .aboutDetails .patternDetails.mainFull .title{
    line-height: 30px;
    height: 30px;
  }
  .aboutDetails .patternDetails.mainFull .pra30 {
    line-height: 40px;
    max-height: calc(40px *5);
  }
  .aboutDetails .patternDetails.goldC {
    min-height: 475px;
    .title {
      margin-bottom: 20px;
      line-height: 30px;
      height: 30px;
    }
    .pra30 {
      line-height: 35px;
      max-height: calc(35px *6);
    }
  }
  .aboutDetails .patternDetails.WGreen {
    min-height: 475px;
    .title {
      margin-bottom: 20px;
      line-height: 30px;
      height: 30px;
    }
    .pra30 {
      line-height: 35px;
      max-height: calc(35px *6);
    }
  }
  .workSc .workBox .txtWork {
    h4 {
      font-size: 1.2rem;
      margin-bottom: 15px;
      line-height: 27px;
      max-height: 27px;
    }
    p{
      font-size: 1rem;
      line-height: 29px;
      max-height: calc(29px* 5);
    }
  }
  .lastNews .pra30{
    line-height: 30px;
    max-height: calc(45px* 8);
  }
  .owl-theme .owl-nav{
    display: none;
  }
}




@media (max-width: 991.98px) {
  // html {
  //   overflow-x: hidden !important;
  // }
  .navbar-light {
    .navbar-toggler{
      color: #fff;
      border: 1px solid #fff;
      .navbar-toggler-icon{
        background-image: url(../images/home/burger.svg);
      }
    }
  }
  .navbar-expand-lg .navbar-collapse{
    position: absolute;
    background: rgb(181, 133, 0);
    width: 100%;
    top: 70px;
    #{$start-direction}: 0px;
    z-index: 2;
    padding-bottom: 30px;
  }
  .customMenu .navbar-light .navbar-nav .nav-link:focus, .customMenu .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link:hover{
    color: #fff;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #C8A440 !important;
    position: relative;
    top: auto;
    min-width: auto;
    width: 100%;
  }
  .customMenu .SearchMenu{
    margin-#{$start-direction}: 0;
  }

  .owl-carousel-banner .bannerBox span{
    font-size: 1rem;
  }
  .owl-carousel-banner .bannerBox p {
    font-size: 1rem;
    line-height: 30px;
  }
  .owl-carousel-banner .bannerBox p::after, .owl-carousel-banner .bannerBox p::before{
    width: 30px;
    height: 22px;
    background-size: contain;
  }
  .pra30 {
    font-size: 1rem;
  }
  .title {
    font-size: 1.25rem;
  }
  .patternImg img {
    height: 365px;
  }
  .mainBtn {
    padding: 13px 20px;
    min-width: 130px;
    font-size: .875rem;
  }
  .aboutCenter .aboutTxt .mainBtn {
    margin-top: 15px;
  }
  .lastNews .owl-carousel .owl-stage-outer .item .row .col-md-6:first-of-type {
    padding-#{$end-direction}: 50px;
  }
  .centerInNum .CIN p {
    font-size: 1rem;
  }
  .centerInNum .CIN .counter {
    font-size: 1.75rem;
    margin-bottom: 20px;
  }
  .Events .eventBox .textEv .eventP {
    font-size: 1rem;
    line-height: 25px;
    height: 125px;
  }
  .partners .partBox .hedinBt {
    font-size: 0.75rem;
  }
  footer {
    .col-md-4:not(:first-of-type) {
      padding-right: 20px;
    }
    .served {
      padding-top: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    
      p{
        // font-size: .875rem;
        margin-bottom: 10px;
      }
      .linkR{
        margin-bottom: 10px;
        // a{
        //   font-size: .75rem;
        // }
      }
     
    }
  }


  .centerInNum .owl-carousel .owl-stage-outer {
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .title28 {
    font-size: 1.25rem
  }
  .title24 {
    font-size: 1.125rem;
  }
  .aboutDetails .patternDetails {
    min-height: 350px !important;
  }
  .aboutDetails .ValueBG .title24{
    margin-bottom: 20px ;
  }
  .workSc {
    .workBox {
      .txtWork{
        padding: 24px 15px;
        h4 {
          font-size: 1.125rem;
          color: #404040;
          margin-bottom: 15px;
       }
       p {
        font-size: .75rem;
        line-height: 24px;
        max-height: calc(24px* 4);
       }
      }
      .imgWork {
        height: 180px;
      }
    }
  }
  .breadcrumbBG .forFlexBrdCrb{
    padding-#{$start-direction}:0 ;
    margin-top: 55px;
    flex-direction: column;
    margin-bottom: 10px;
    align-items: flex-start;
    .shareSocial{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }
  .select {
    font-size: 1rem;
  }
  .NewsBg .headBox .SelectInput{
    .select{
      min-width: 165px;
    }
    .label{
      font-size: 1.125rem;
      margin-#{$end-direction}: 15px;
    }
  }
  .NewsBg .boxNews {
    height: 400px;
   
    .imgNS{
      height: 220px;
    }
    .NewTxt{
      p {
        font-size: 1rem;
        line-height: 24px;
        height: calc(24px* 3);
      }
      .readMore{
        font-size: .75rem;
      }
    }
    &:hover{
      height: 400px;
      .imgNS{
        height: 195px;
      }
    }
  }
  .pagination {
    padding-bottom: 0;
    a{
      width: 30px;
      height: 30px;
      font-size: .75rem;
    }
  }
  .row.justify-content-end {
    flex-direction: column;
    .col-4{
      width: 100%;
    }
  }
  .paginationDetails {
    justify-content: center;
    padding-#{$start-direction}: 0px;
    padding-top: 10px;
    .selectNum{
      margin: 0 10px;
      font-size: .75rem;
      background-position: 5px 10px;
      background-size: 10px;
    }
  }
  .aboutBg {
    padding: 66px 0 85px;
  }
}

@media (max-width: 767.98px) {
  .homeBanner {
    .left{
      flex-wrap: wrap;
      // max-width: 60%;
      margin-#{$start-direction}: 190px;
    }
    .topNav {
      padding: 25px 0 55px;
      .faq-btn {
        font-size: .75rem;
        margin-#{$start-direction}: 5px;
    }
    .secBtn {
      height: 40px;
      font-size: .75rem;
      padding: 11px 15px;
      margin-bottom: 5px;
    }
    .changeLang{
      font-size: .75rem;
      margin-#{$start-direction}: 15px;
    }
    .top-functions {
      margin-#{$start-direction}: 7px;
      li{
        margin-#{$end-direction}: 10px;
        a{
          width: 30px;
          height: 30px;
          font-size: .75rem;
        }
      }
    }
  }

  }
  .owl-carousel-banner .bannerBox {
    width: 100%;
  }
  .aboutCenter{
    .patternImg {
      margin-top: 50px;
    }
  }
  .lastNews{
    .patternImg {
      margin-bottom: 30px;
      // img{
      //   margin-#{$end-direction}: 0;
      //   width: 100%;
      // }
      &::after{
          #{$end-direction}: 30px;
      }
    }
  }
  footer{
    .headFooter {
      font-size: 1rem;
      margin-bottom: 20px;
    }
    .boxAction{
      position: relative;
      margin-bottom: 50px;
      input{
        font-size: 0.875rem;
        min-height: 40px;
        // margin-bottom: 5px;
      }
      .secBtn{
        position: absolute;
        width: 95px;
        height: 100%;
        left: 0;
        font-size: 0.875rem;
        padding: 9px;
      }
    }
    .col-md-4:not(:first-of-type) {
      padding-#{$start-direction}: calc(var(--bs-gutter-x) * .5);
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;  
    }
    .linksFotter {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      li a {
        font-size: .75rem;
        img{
          width: 20px;
          height: 20px;
        }
      }
    }
    .served {
      // padding-top: 35px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      // flex-direction: column;
    
      p{
        font-size: .875rem;
        margin-bottom: 10px;
      }
      .linkR{
        margin-bottom: 10px;
        a{
          font-size: .75rem;
        }
      }
     
    }

  }

  .aboutBg {
    .aboutTxt{
      padding-#{$end-direction}: 0;
      .pra30 {
        margin-bottom: 20px;
      }
    }
  }
  .aboutDetails .patternDetails{
    min-height: 551px;
    padding: 60px 40px;
    min-height: 290px !important;
    &.mainFull {
      min-height: 450px;
      text-align: center;
    
    }
  }
  
  .NewsBg {
    .headBox{
      flex-direction: column;
      .SelectInput {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
      }
    }
  }
  .select {
    font-size: .75rem;
  }
  .NewsBg .headBox .SelectInput {
    .select {
      min-width: 125px;
      background-size: 15px;
    }
    .label {
      font-size: 1rem;
    }
  }
  .newsInner {
    .txtInner {
      .title {
        font-size: 1.375rem;
        line-height: 30px;
      }
        .subTitle {
        font-size: 1.175rem;
      }
    }
  }
  .NewsBg .boxNews .NewTxt p {
    font-size: 1rem;
  }
  .under-const .content-box {
    h3 {
      font-size: 1.75rem;
    }
    p {
      font-size: .875rem;
    }
    .uc-btns {
      .home-btn a{
        padding: 8px 30px;
      }
      .back-btn a{
        padding: 8px 35px;
      }
    }
  }

  .aboutDetails .patternDetails.mainFull {
    .pra30 {
      line-height: 30px;
      max-height: calc(30px *5);
    }
    .title {
      // line-height: 26px;
      // height: 26px;
      margin-bottom: 20px;
    }
  }
  .aboutDetails .patternDetails{
    &.WGreen {
      .pra30 {
        line-height: 27px;
        max-height: calc(27px *6);
      }
      .title {
        margin-bottom: 10px;
      } 
    }
    &.goldC {
      .pra30 {
        line-height: 27px;
        max-height: calc(27px *6);
      }
      .title {
        margin-bottom: 10px;
      } 
    }
  }
}
@media (max-width: 574.98px) {
  .fancybox-opened{
    width: 315px !important;
    height: 400px !important;
    left: 50% !important;
    transform: translateX(-50%);
  }
  .fancybox-inner {
    overflow: hidden;
    width: 315px!important;
    height: 400px !important;
}
}